<!DOCTYPE html>
<html 
	layout:decorator="layouts/main">
<head>
<title>Trade Games - Lista de Anúncios</title>
</head>
<body>
	<div layout:fragment="content">
	
		<h2>Pesquisar:</h2>

		<form class="form-inline" th:object="${ad}" th:action="@{/public/search}" method="get">
			<div class="form-group">
		    	<label>Jogo</label>
				<select class="selectpicker" data-live-search="true" th:field="*{game}">
					<option value="">Todos</option>
					<option th:each="game : ${games}" th:value="${game.id}" th:text="${game.name}">Jogo</option>
				</select>
		  	</div>
		  	<div class="form-group">
		    	<label>Tipo</label>
				<select class="form-control" th:field="*{type}" required="true">
					<option value="0">Todos</option>
					<option value="1">Procura</option>
					<option value="2">Oferta</option>
				</select>
		  	</div>
		  	<button type="submit" class="btn btn-success">Pesquisar</button>
		</form>
		
		<hr />
		
		<h2>Resultados:</h2>

		<table class="table table-striped" id="list_table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Jogo</th>
					<th>Valor</th>
					<th>Descrição</th>
					<th>Tipo</th>
					<th>Usuário</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ad : ${ads}">
					<td th:text="${ad.id}">id</td>
					<td th:text="${ad.game.name}">nome</td>
					<td th:text="${ad.price}">valor</td>
					<td th:text="${ad.description}">descrição</td>
					<td th:switch="${ad.type}"><label th:case="1">Procura</label><label th:case="2">Oferta</label></td>
					<td th:text="${ad.user.fullName}">usuário</td>
				</tr>
			</tbody>
		</table>
		
		<p th:if="${ads.size() == 0}">
			<div class="alert alert-warning" role="alert">Nenhum anúncio encontrado.</div>
		</p>

		
	</div>
</body>
</html>