<!DOCTYPE html>
<html 
	layout:decorator="layouts/main">
<head>
<title>Trade Games - Anúncio</title>
</head>
<body>
	<div layout:fragment="content">
		<h2>Anúncio:</h2>
		
		<!-- 
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">Id: </label>
				<div class="col-md-10">
					<p class="form-control-static" th:text="${ad.id}">id</p>
				</div>
			</div>
			<div class="form-group">
		    	<label class="col-sm-2 control-label">Jogo:</label>
		    	<div class="col-md-10">
		    		<p class="form-control-static" th:text="${ad.game.name}">jogo</p>
		    	</div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">Valor:</label>
		    	<div class="col-md-10">
		    		<p class="form-control-static" th:text="${ad.price}">valor</p>
		    	</div>
		  	</div>
			<div class="form-group">
		    	<label class="col-sm-2 control-label">Descrição:</label>
		    	<div class="col-md-10">
		    		<p class="form-control-static" th:text="${ad.description}">descrição</p>
		    	</div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">Tipo:</label>
		    	<div class="col-md-10" th:switch="${ad.type}">
		    		<p class="form-control-static" th:case="1">Procura</p>
		    		<p class="form-control-static" th:case="2">Oferta</p>
		    	</div>
		  	</div>
		  	<div class="form-group">
		    	<label class="col-sm-2 control-label">Usuário:</label>
		    	<div class="col-md-10">
		    		<p class="form-control-static" th:text="${ad.user.fullName}">nome</p>
		    	</div>
		  	</div>
		</form>
		-->
		
		<div class="row">
			<div class="col-sm-3">
				<img alt="" src="http://cdn8.bigcommerce.com/s-1m6axe/stencil/17a390a0-1662-0136-feeb-525400970412/icons/icon-no-image.svg" width="300" height="300"/>
			</div>
			<div class="col-sm-8">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label">Código: </label>
						<div class="col-md-10">
							<p class="form-control-static" th:text="${ad.id}">id</p>
						</div>
					</div>
					<div class="form-group">
				    	<label class="col-sm-2 control-label">Jogo:</label>
				    	<div class="col-md-10">
				    		<p class="form-control-static" th:text="${ad.game.name}">jogo</p>
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<label class="col-sm-2 control-label">Valor:</label>
				    	<div class="col-md-10">
				    		<p class="form-control-static" th:text="${ad.price}">valor</p>
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<label class="col-sm-2 control-label">Tipo:</label>
				    	<div class="col-md-10" th:switch="${ad.type}">
				    		<p class="form-control-static" th:case="1">Procura</p>
				    		<p class="form-control-static" th:case="2">Oferta</p>
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<label class="col-sm-2 control-label">Usuário:</label>
				    	<div class="col-md-10">
				    		<p class="form-control-static" th:text="${ad.user.fullName}">nome</p>
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<label class="col-sm-2 control-label">Descrição:</label>
				    	<div class="col-md-10">
				    		<p class="form-control-static" th:text="${ad.description}">descrição</p>
				    	</div>
				  	</div>
				</form>
			</div>
			<div class="col-sm-1" sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">
				<form class="form-horizontal" th:object="${user_interested}" th:action="@{/ad/save/interest}" method="post">
					<input type="hidden" th:value="${ad.id}" id="ad" name="ad"/>
					<div th:if="${interested}">
						<input type="hidden" th:value="${interested.id}" id="id" name="id"/>
						<button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-star"></span></button>
					</div>
					<div th:unless="${interested}">
						<input type="hidden" value="0" id="id" name="id"/>
						<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-star-empty"></span></button>
					</div>
				</form>
			</div>
		</div>
		
		<hr/>
		
		<h3>Comentários:</h3>
		
		<form class="form-horizontal" th:object="${user_comment}" th:action="@{/ad/save/comment}" method="post" sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">
			<input type="hidden" th:value="${ad.id}" id="ad" name="ad"/>
			<div class="form-group">
				<div class="col-md-12">
					<textarea class="form-control" th:field="*{comment}" required="true"></textarea>
				</div>
			</div>
			<button type="submit" class="btn btn-success">Enviar</button>
		</form>
		
		<hr/>
		
		<div class="col-md-12">
			<div class="well" th:each="c : ${comments}">
				<p><i th:text="${c.user.fullName}+' comentou em '+${#dates.format(new java.util.Date(c.created_at), 'dd/MM/yyyy HH:mm')}"></i></p>
				<p th:text="${c.comment}"></p>
			</div>
		</div>
		
		<!-- <a th:href="@{/ad/list/}" class="btn btn-warning">Voltar</a> -->
	</div>
</body>
</html>